/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/jobs/jobs.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.jobs_header__Vv7T1 { display: flex; align-items: flex-start; justify-content: space-between; }
.jobs_title__GzeDK { font-size: 20px; font-weight: 600; }
.jobs_sub__JoDmF { font-size: 13px; color: var(--text-2); }
.jobs_table__eGmSF { width: 100%; border-collapse: collapse; }
.jobs_table__eGmSF th { padding: 9px 1.1rem; text-align: left; font-size: 11px; font-weight: 600; color: var(--text-3); text-transform: uppercase; letter-spacing: 0.04em; background: var(--gray-50); border-bottom: 1px solid var(--border); }
.jobs_table__eGmSF td { padding: 11px 1.1rem; border-bottom: 1px solid var(--border); font-size: 13px; }
.jobs_table__eGmSF tr:last-child td { border-bottom: none; }
.jobs_table__eGmSF tr:hover td { background: var(--gray-50); }
.jobs_empty__VMkRY { text-align: center; color: var(--text-3); padding: 2.5rem !important; }

